<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="SNS & article analyzing tool">
        <meta name="author" content="Sungmin Oh">
        <link rel="icon" href="../static/favicon.ico">

        <title>문장 분석기</title>

        <!-- Bootstrap core CSS -->
        <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/bootstrap_select/bootstrap-select.min.css">
        <link rel="stylesheet" type="text/css" href="../static/jasny_bootstrap/jasny-bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/jasny_bootstrap/navmenu.css">


        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="../static/bootstrap/ie10-viewport-bug-workaround.css" rel="stylesheet">


        <!-- Custom styles for this template -->
        <!--<link href="../static/show_posts.css" rel="stylesheet">-->

        <script src="../static/bootstrap/ie-emulation-modes-warning.js"></script>
        <!--<script src="{{ url_for('static', filename='ie-emulation-modes-warning.js') }}"></script>-->
        <!--<script src="{{ url_for('static', filename='show_post.js') }}"></script>-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body style data-feedly-mini="yes">
        <!-- navigation bar -->
        <!--<nav class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation"> temporary for developing-->
        <nav class="navmenu navmenu-default navmenu-fixed-left" role="navigation">
            <a class="navmenu-brand" href="/">문장 분석기</a>
            <ul class="nav navmenu-nav">
                <div id="topic-source-div">
                    <select class="selectpicker" id="topics" title="Select topic."> {% for topic in topics %} <option value="{{topic.id}}">
                        {{topic.name}}
                        </option>
                        {% endfor %}
                    </select>
                    <select class="selectpicker" id="sources" multiple title="Select at least one source." data-selected-text-format="count > 3" data-actions-box="true">
                        {% for source in sources %}
                        <option value="{{source.id}}">
                        {{source.name}}
                        </option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-default" type="button" id="getPosts">Get</button>
                </div>
            </ul>
            <ul class="nav navmenu-nav" id="ruleset-creator-ul" style="display:none">
                <div class="input-group">
                    <input type="text" class="form-control" id="ruleset-creator-txt" placeholder="New Ruleset">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="ruleset-creator-btn">Create</button>
                    </span>
                </div>
            </ul>
            <ul class="nav navmenu-nav" id="rulesets">
                <!-- here will be rulesets list --> 
            </ul>
            <div id="run-btn">
                <button class="btn btn-info" type="button" id="run">Run</button>
            </div>
        </nav>
        <!-- when width is too small -->
        <nav class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">문장 분석기</a>
        </nav>
        <!-- rule create modal -->
        <div class="modal fade" id="create-rule-modal" tabindex="-1" role="dialog" aria-labelledby="create-rule-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">New rule</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="rule-text" class="form-control-label">Rule sentence</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="rule-text" placeholder="문장을 입력하세요.">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="parse">Parse</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" id="rule-checkboxes">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="create-rule-reset-btn">Reset</button>
                        <button type="button" class="btn btn-primary" id="create-rule-btn">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="container-fluid">
        -->
        <div class="container">
            <div>
                <h1 class="page-header">Dashboard</h1>

                <div class="chart" id="chart">
                </div>

                <h1 class="sub-header">Posts</h2>
                <!-- post table -->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>title</th>
                                <th>url</th>
                                <th>count</th>
                            </tr>
                        </thead>
                        <tbody id="posts">
                            {% for entry in entries %}
                            <tr>
                                <td>{{entry.title}}</td>
                                <td>{{entry.text}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- post detail modal -->
                <div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="post-modal-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="post-modal-header-h4">
                                    <!-- post title -->
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="chart" id="post-modal-chart">
                                </div>
                                <!-- post detail -->
                                <p id="post-modal-body-p">
                                </p>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sentence rule detail popover -->
                <div class="panel panel-default popover" id="sentence-detail-popover">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ruleset</th>
                                <!-- <th>Rule text</th> -->
                                <th>Rule words</th>
                            </tr>
                        </thead>
                        <tbody id="sentence-detail-popover-tbody">
                            <!-- sentence popover -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="../static/jquery/jquery-1.12.3.min.js"></script>
            <script src="../static/bootstrap/js/bootstrap.min.js"></script>
            <script type"text/javascript" src="../static/bootstrap_select/bootstrap-select.min.js"></script>
            <script type"text/javascript" src="../static/jasny_bootstrap/jasny-bootstrap.min.js"></script>
            <!-- google chart -->
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
             <!--IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../static/bootstrap/ie10-viewport-bug-workaround.js"></script>

            <script src="../static/show_posts.js"></script>

            <script>

var topics = {{ topics|tojson|safe }};
var sources = {{ sources|tojson|safe }};

            </script>

    </body>
</html>


